<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XClass</title>
</head>

<body>
  <h1>XClass</h1>
  <form action="/" method="post"><label for="id_username">Username:</label><br><input type="text" name="username" id="id_username"><br><label
      for="id_password">Password:</label><br><input type="password" name="password" id="id_password"><br><input type="submit" value="Submit"></form>
  {% if hint %}
  <strong style="color:red">{{ hint }}</strong>
  {% endif %}
</body>

</html>